<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tei_viewer.css') }}">
        <title>{% block title %} {% endblock %}</title>

    </head>
    <body>

    	<header class="blog-header py-3">
    		<div class="container-fluid">
	    		<div class="row flex-nowrap justify-content-between align-items-center">
	    			<div class="col"></div>
	    			<div class="col-10 text-center border-bottom">
	    				<div class="row">
	    					<!-- <a class="mb-2 mr-md-auto font-weight-normal navbar-brand" href="#">{{ main_title }}</a> -->
	    				</div>
	    				<div class="row">
	    					<div class="nav-scroller py-1 mb-2">
							    <nav class="nav d-flex justify-content-around">
								    <a class="p-2 text-muted" href="/">
								    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
										  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
										</svg>
								    	About
								    </a>
								    <a class="p-2 text-muted" href="/corpus">
								    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
										  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
										</svg>
								    	Corpus
								    </a>
								    <a class="p-2 text-muted" href="/guide">
								    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
										</svg>
								    	Guide
									</a>
							    </nav>
					 		</div>
	    				</div>
	    			</div>
	    			<div class="col"></div>
	    		</div>
	    </header>

	    <main>
	    	<div class="container-fluid">
	    		<div class="row">
	    			<div class="col"></div>
	    			<div class="col-10">
	    				{% block content %} {% endblock %}
	    			</div>
	    			<div class="col"></div>
		        </div>
	        </div>
	    </main>

	    <footer class="container-fluid text-center p-3">
	        <a class="" href="#">Back to the top</a>
	        <p class="">© 2021 stn.brry </p>
	    </footer>

	    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	    <!-- <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script> -->
	    <script src="{{ url_for('static', filename='js/main.js') }}"></script>




    </body>
</html>