<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {{ filename }} {% endblock %}</title>
    </head>
    <body>
	    <main>
			<div class="container-fluid">
				<div class="row mb-5">
					{% include filename + ".html" ignore missing without context %}
				</div>
			</div>
			<div class="row" style="position: absolute; bottom: 0; padding: 1em;">
				<div class="col">
					{% for format in formats %}
						<button type="submit" id={{format + "download-btn"}} class="btn btn-download">
							<a href={{ "/tei_viewer/static/docs/" + filename + "." + format }} download>
							&#8681; {{ format }}
						</button>
					{% endfor %}
				</div>
			</div>
		</main>
    </body>
</html>